[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PRISM.forecast"]
	path = PRISM.forecast
	url = https://github.com/ryanddyi/prism
